<html>
<head>
  <meta charset="utf-8">
	<title>Comments: Danger Zone</title>
  <link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="js/jquery-3.3.1.min.js"> </script>
</head>

<body>
 <section id="slide1">
            
  
        
<button class="button" id="btn_start">Start</button>
            
  </section>


<section id="slide2">
  <h1> Declare the crime that you witnessed or lived:</h1>
  <h2> Please indicate the location as detailed as possible </h2>
  <div id="formBox">
  <form method = "post" name ="comentario" enctype="multipart/form-data" >
        Declaración: <textarea rows="4" cols="50" name="comment" form="comentario">Enter text here...</textarea>
        <input type="submit" name = "but_submit" value="Submit">

    </form>
    </div>
<div id="results">
    {% if sentiment %}

          <h3>Clasification</h3>
          {% for entity in entities %}
            <p><b>Name:</b> {{ entity.name }}</p>
            <p><b>Confidence:</b> {{ entity.salience }}</p>
            <br>
          {% endfor %}
          
        {% endif %}
</div>
</section>

<script type="text/javascript">
 $('#slide2').hide();
  $('#btn_start').on('click',function(){
      
      $('#slide1').hide();
      $('#slide2').show();
      
      
    }); 

</script>
</body>
  </html>
